<section>
  <div class="container">
    <h5 class="font-weight-light mb-0">即時列表</h5>
    <div class="category-row d-flex justify-content-around py-4">
      <a href="#">精選</a>
      <a href="#">不分類</a>
      <a href="#">要聞</a>
      <a href="#">娛樂</a>
      <a href="#">社會</a>
      <a href="#">地方</a>
      <a href="#">國際</a>
      <a href="#">這些</a>
      <a href="#">其實</a>
      <a href="#">都按</a>
      <a href="#">不了</a>
      <a href="#">只是</a>
      <a href="#">裝飾</a>
    </div>

    <div class="d-flex flex-row news" *ngFor="let topic of topics">
      <a href="{{topicService.getLink(topic)}}">
        <img src="{{topic.image}}">
      </a>

      <a class="pl-2 pl-md-4" href="{{topicService.getLink(topic)}}">
        <h4 class="news-title font-weight-normal">{{topic.title}}</h4>
        <p *ngIf="screenService.biggerThanMedium()" class="news-info text-clamp-3">
          {{topicService.getPlainHtml(topic)}}
        </p>
      </a>
    </div>

  </div>
</section>
