@import "~bootstrap/scss/bootstrap";

.news {
  @extend .pb-4;
}

img {
  height: 167px;
  width: 250px;
  object-fit: cover;

  @media (max-width: 767px) {
    width: 125px;
    height: 90px;
  }
}

.news-info {
  @extend .font-weight-light;
  font-size: small;
  color: #676161;
}

a {
  color: inherit;

  &:visited {
    color: black;
  }

  &:hover {
    text-decoration: none;
  }

  img {
    transition: 0.2s;

    &:hover {
      filter: brightness(0.6);
    }
  }
}

.news-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}
