<section>
  <div class="container">
    <h5 class="font-weight-light mb-0">即時列表</h5>
    <div class="category-row d-flex justify-content-around py-4">
      <a href="#">精選</a>
      <a href="#">不分類</a>
      <a href="#">要聞</a>
      <a href="#">娛樂</a>
      <a href="#">社會</a>
      <a href="#">地方</a>
      <a href="#">國際</a>
      <a href="#">這些</a>
      <a href="#">其實</a>
      <a href="#">都按</a>
      <a href="#">不了</a>
      <a href="#">只是</a>
      <a href="#">裝飾</a>
    </div>

    <div class="row news">
      <div class="col-4">
        <img class="img-fluid" src="assets/img/desk.jpg">
      </div>
      <div class="col-8">
        <h4>影／中市夜店酒客敬酒遭拒拉扯起衝突 警快打逮人究辦</h4>
        <p class="news-info">
          台中市中區一家夜店，今天凌晨發生酒客敬酒糾紛，范姓酒客向趙姓酒客敬客被拒，雙方於敬酒時發生口角糾紛，進而造成酒杯毀損，進而拉扯，蕭姓女店員清理時被碎玻璃割傷，警方快打部隊迅速到場，以優勢警力迅速將范等人帶回派出所，警方將依社會秩序維護法依法送辦。
        </p>
      </div>
    </div>

  </div>
</section>
