<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding: 20px 15px;">
        <app-category-button [name]="'重點'" [category]="category.IMPORTANT"></app-category-button>
        <app-category-button [name]="'全部'" [category]="category.ALL"></app-category-button>
        <app-category-button [name]="'作品'" [category]="category.PROJECTS"></app-category-button>
        <app-category-button [name]="'經驗'" [category]="category.EXP"></app-category-button>
        <app-category-button [name]="'里程碑'" [category]="category.GOALS"></app-category-button>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let topic of getFitTopics()" class="col-lg-4 col-md-6 mb-3 px-2">
        <a
          href="topics/{{subject[selectorService.currentSubject].toLowerCase()}}/#{{topic.route}}"
          class="topic-btn btn btn-outline-primary btn-sm btn-warp">
          <h2 class="text-warp">{{topic.title}}</h2>
          <p class="text-warp">{{topic.description}}</p>
        </a>
      </div>
    </div>
  </div>
</section>
