<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding: 20px 15px;">
        <div class="btn-group" role="group">
          <button type="button">
            全部
          </button>
          <button type="button">
            作品
          </button>
          <button type="button">
            經驗
          </button>
          <button type="button">
            里程碑
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let topic of getCurrentSection().topics">
        <a href="topics/{{subject[selectorService.currentSubject].toLowerCase()}}/#{{topic.title}}"
          class="btn btn-primary">
          <h1>{{topic.title}}</h1>
          <p>{{topic.description}}</p>
        </a>
      </div>
    </div>
  </div>
</section>
