<section class="">
  <h5 class="section-text">猜你喜歡</h5>
<!--  todo 更改 -->
  <div class="py-2">
    <div class="image-wrapper w-100">
      <img src="assets/img/rtx-voice.jpg">
    </div>
    <p class="mt-2 text-clamp-2">科技 / 颱風不再！Nvdia 推出全新 AI 去雜音軟體 RTX Voice。</p>
  </div>
  <div class="py-2">
    <div class="image-wrapper w-100">
      <img src="assets/img/the-guild-to-the-good-life-book.jpg">
    </div>
    <p class="mt-2 text-clamp-2">好書推薦 / 想要催眠自己嗎？還不快來看看這本好用的人生哲學書籍</p>
  </div>
  <div class="py-2">
    <div class="image-wrapper w-100">
      <img src="assets/img/clean-code.jpg">
    </div>
    <p class="mt-2 text-clamp-2">程式碼不是能動就好，讓大師教你如何編寫 Clean Code。</p>
  </div>
</section>
