<section class="">
  <h5 class="section-text">猜你喜歡</h5>

  <div class="py-2">
    <img src="assets/img/visit-nctu.jpg">
    <p class="mt-2">校園 / 設備完善！交大棒球場被評為 2020 最佳脫單聖地！</p>
  </div>
  <div class="py-2">
    <img src="assets/img/lily-flowers.jpg">
    <p class="mt-2">旅遊 / 赤柯山金針花盛開，花期只到八月底，現在參觀已來不及！</p>
  </div>
  <div class="py-2">
    <img src="assets/img/rtx-voice.jpg">
    <p class="mt-2">科技 / 颱風不再！Nvdia 推出全新 AI 去雜音軟體 RTX Voice。</p>
  </div>
  <div class="py-2">
    <img src="assets/img/the-guild-to-the-good-life-book.jpg">
    <p class="mt-2">好書推薦 / 想要催眠自己嗎？還不快來看看這本好用的人生哲學書籍</p>
  </div>
</section>
