<section>
  <div class="container">
    <div class="intro">
      <h2 class="text-center" style="margin: 0px 0px 20px;padding-top: 0px;">技能總覽</h2>
      <p class="text-center">國高中的這六年，我嘗試過了許多事情，也挑戰過了許多目標。我將這些東西，整理成了下方的結構做展示。</p>
    </div>
    <div class="row features">
      <app-skill-icon class="col-sm-6 col-md-5 col-lg-4"
        [icon]="codeIcon"
        title="學習程式設計"
        description="
        始得而外唱片上雖投直理經物不省自相來主是節己象光人，
        來我由星的自辦康中方物……文頭性度相何口所票、一子念人">
      </app-skill-icon>

      <app-skill-icon class="col-sm-6 col-md-5 col-lg-4"
        [icon]="baseballIcon"
        title="棒球"
        description="
        被客導行飯；地相人我行子層，得物曾水西本學的黃服致年；
        應望字如員麼著外樓導體實了工任是不時電下魚樂花史">
      </app-skill-icon>

      <app-skill-icon class="col-sm-6 col-md-5 col-lg-4"
        [icon]="youtubeIcon"
        title="經營 Youtube 頻道"
        description="
        到院親月後一校場，同個夫性西食麼其從三說住勢感統。
        許牛學思能著受，參升學的人大南不響電標飯市">
      </app-skill-icon>
    </div>
  </div>
</section>
