<nav class="navbar navbar-light navbar-expand-md">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">林杰暉</a>

    <button data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navcol-1">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">首頁</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
