figure {
  img {
    width: 100%;
    transition: 0.2s;
  }
}

.date {
  color: #7d7d7d;
  font-size: smaller;
}

.content {
  p {
    font-weight: 300;
    font-size: large;
  }

  @import "~bootstrap/scss/bootstrap";

  figure {
    @extend .py-3;

    img {
      border-style: solid;
      border-width: 1.5px;
    }

    figcaption {
      margin-top: 3px;
      padding: 3px;
      font-size: smaller;
      font-weight: lighter;
      background-color: #d7d7d7;
    }
  }

  .fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

