<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let topic of topics"
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active">
    </li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/xin-he.jpg" alt="Second slide">
    </div>

    <div class="carousel-item" *ngFor="let topic of topics">
      <img class="d-block w-100" src="{{topic.image}}" alt="First slide">
      <div class="carousel-caption d-block">
        <h2 class="text-clamp-2">{{topic.title}}</h2>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
