<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      *ngFor="let topic of topics; let i = index; let first = first"
      data-target="#carousel"
      [attr.data-slide-to]="i"
      [ngClass]="first ? 'active': ''">
    </li>
  </ol>
  <div class="carousel-inner">
    <div
      *ngFor="let topic of topics; let first = first"
      class="carousel-item"
      [ngClass]="first ? 'active': ''">

      <a href="{{topicService.getLink(topic)}}">
        <div class="image-wrapper">
          <img class="w-100" src="{{topic.image}}">
        </div>
        <div class="carousel-caption d-block">
          <h2 class="text-clamp-2">{{topic.title}}</h2>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
