<h5 class="section-text">熱門新聞</h5>

<app-hot-row
  title="民調 / 一心想上交大百川，用網頁製作備審資料有用嗎？"
  image="assets/img/making-website.jpg">
</app-hot-row>
<app-hot-row
  image="assets/img/white-mouse.jpg"
  title="國一生因 100 張考卷，思考要不要開始自學">
</app-hot-row>
<app-hot-row
  image="assets/img/ypbc-web.jpg"
  title="打擊假新聞！自學網頁程式協助球隊招生，社員報復性成長">
</app-hot-row>
<app-hot-row
  image="assets/img/hug.jpg"
  title="七局失一分！副隊長先發帶領球隊獲得市長盃亞軍">
</app-hot-row>
<app-hot-row
  image="assets/img/jump.jpg"
  title="侯 sir 返校日 - 永平棒球社派副隊長擔任侯友宜解說員">
</app-hot-row>

