<section class="container">
  <div *ngIf="screenService.biggerThanMedium()"
    class="d-flex flex-row justify-content-between">
    <div class="content-row">
      <i class="green fas fa-arrow-circle-right fa-lg"></i>
      <p class="green">越戰越強，畢業自學生二次挑戰大學特殊選材</p>
      <p class="date">23:30</p>
    </div>
    <div class="content-row">
      <p class="green">用網頁做備審，林杰暉：「閱讀方便，且能展現個人特色。」</p>
      <p class="date">23:30</p>
    </div>
  </div>
  <div *ngIf="screenService.smallerThanMedium()"
    class="content-row py-2 small-flash">
    <i class="px-2 far fa-bell fa-lg"></i>
    <p>越戰越強，畢業自學生二次挑戰大學特殊選材</p>
  </div>
</section>
