section {
  background-color: #FAFAFA;
}

p {
  margin-bottom: 5px;
}

.copyright {
  font-size: 0.8rem;
}

.icons {
  text-align: center;
}

.icon {
  color: #C7C7C7;
}

.button {
  border-style: solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #6a6a6a;
  background-color: #6a6a6a;
  color: white;
}
