<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="#">
        <i class="icon ion-logo-instagram"></i>
      </a>

      <a href="#">
        <i class="icon ion-logo-snapchat"></i>
      </a>

      <a href="#">
        <i class="icon ion-logo-twitter"></i>
      </a>

      <a href="#">
        <i class="icon ion-logo-facebook"></i>
      </a>
    </div>

    <p class="text-center"
      style="color: rgb(145,149,153);">網頁由 林杰暉 製作 | 原始碼</p>
    <p class="copyright">魯大頭 Src © 2020</p>
  </footer>
</div>
