/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans TC'
}

.image-wrapper {
  height: 0;
  position: relative;
  padding-bottom: 62.5%;
  /*
  aspect ratio  | padding-bottom value
--------------|----------------------
    16:9      |       56.25%
    4:3       |       75%
    3:2       |       66.66%
    8:5       |       62.5%
   */

  img {
    position: absolute;
    object-fit: cover;
    object-position: top;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.btn-warp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  h1, h2, h3, h4, h5, h6, p {
    @extend .text-warp;
  }
}

.active-color {
  color: green;
}

.text-warp {
  white-space: initial;
}

section {
  padding-top: 20px;
}

.section-text {
  font-weight: normal;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-clamp-2 {
  @extend .text-clamp;
  -webkit-line-clamp: 2;
}

.text-clamp-3 {
  @extend .text-clamp;
  -webkit-line-clamp: 3;
}

.link-no-style {
  a {
    color: inherit;

    &:visited {
      color: black;
    }

    &:hover {
      text-decoration: none;
    }

    img {
      transition: 0.2s;

      &:hover {
        filter: brightness(0.6);
      }
    }
  }
}
