/* You can add global styles to this file, and also import other style files */
.btn-warp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  h1, h2, h3, h4, h5, h6, p {
    @extend .text-warp;
  }
}

.text-warp {
  white-space: initial;
}

section {
  padding-top: 20px;
}

.section-text {
  font-weight: normal;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-clamp-2 {
  @extend .text-clamp;
  -webkit-line-clamp: 2;
}

.text-clamp-3 {
  @extend .text-clamp;
  -webkit-line-clamp: 3;
}
